<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>
	
	
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<h2 class="section-headline"><span>User Account</span></h2>
			</div>
			<div class="col-xs-3">
				<img src="/images/logo.jpg" class="img-responsive" />
			</div>
			
		</div>
		
		<hr style="position:absolute; width:47%; height:6px; background-color: #333; z-index:-1; margin-top: -260px;"/>
		<img class= "img-responsive" src="/images/wood.jpg" style="margin-top: -240px;" />
		
		<div class="row" style="margin-top: 80px;">
			<div class="col-xs-9 col-xs-offset-1">
			
				
				<ul class="nav nav-tabs">
					<li th:classappend="${classActiveNewAccount}? 'active'"><a href="#tab-1" data-toggle="tab"><span style="color: red;">Create new account</span></a></li>
					<li th:classappend="${classActiveLogin}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color: red;">Login</span></a></li>
					<li th:classappend="${classActiveForgetPassword}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color: red;">Forget Password</span></a></li>
				</ul>
				
				<!-- Tab Panels -->
				<div class="tab-content">
					<div class="tab-pane fade" id="tab-1" th:classappend="${classActiveNewAccount}? 'in active'">
						<div class="panel panel-default" style="border:none;">
							<div class="panel-body" style="background-color: #ededed; margin-top:20px;">
								<form>
									<div class="form-group">
										<label for="newUsername">* Username</label>
										<input required="required" type="text" class="form-control" id="username" name="username" />
										<p>Enter your username</p>
									</div>
									<div class="form-group">
										<label for="email">* Email</label>
										<input required="required" type="text" class="form-control" id="email" name="email" />
										<p>Enter a valid email address</p>
									</div>
									<button type="submit" class="btn btn-primary">Create new Account</button>
								</form>
							</div>
						</div>
					</div>
					<!-- Login -->
					<div class="tab-pane fade" id="tab-2" th:classappend="${classActiveLogin}? 'in active'">
						<div class="panel panel-default" style="border:none;">
							<div class="panel-body" style="background-color: #ededed; margin-top:20px;">
								<form>
									<div class="form-group">
										<label for="newUsername">* Username</label>
										<input required="required" type="text" class="form-control" id="username" name="username" />
										<p>Enter your username</p>
									</div>
									<div class="form-group">
										<label for="password">* Password</label>
										<input required="required" type="text" class="form-control" id="password" name="password" />
										<p>Enter your password</p>
									</div>
									<button type="submit" class="btn btn-primary">Login</button>
								</form>
							</div>
						</div>
					</div>
					<!-- Forget password -->
					<div class="tab-pane fade" id="tab-3" th:classappend="${classActiveForgetPassword}? 'in active'">
						<div class="panel panel-default" style="border:none;">
							<div class="panel-body" style="background-color: #ededed; margin-top:20px;">
								<form>
									<div class="form-group">
										<label for="recoverEmail">* Your email</label>
										<input required="required" type="text" class="form-control" id="recoverEmail" name="email" />
										<p>Enter your email you want to recover</p>
									</div>
									
									<button type="submit" class="btn btn-primary">Recover</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<div th:replace="common/header :: body-bottom-scripts">
   
    </div>

</body>
</html>